body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    font-weight: bold;
}
.content {
    margin-top: 20px;
}
.navbar-nav .nav-link {
     color: #fff;
    }
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    color: lightgray;
}
footer {
    font-family: 'Roboto', sans-serif;
}
footer a:hover {
    color: #e9ecef;
}
.hover-lift {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hover-lift:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.display-4 {
    font-size: 3.5rem;
}
.resume-name {
    color: white;
}
.highlight-i {
    color: #cce5ff;
    font-style: italic;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    display: inline-block;
    animation: spinPause 3s infinite;
    transition: transform 0.3s ease;
}
.highlight-i:hover {
    animation: none;
    transform: translateY(-5px) scale(1.2);
    cursor:pointer;
}
@keyframes spinPause {
    0% { transform: rotate(0deg); }
    66.67% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}
.navbar-brand{
    font-size:2em;
    font-weight:bold;
    text-shadow:1px 1px 3px rgba(0,0,0,0.5);
}
#navbar-brand-i{
    font-size:1.5em;
    font-style:italic;

}
